@page "/achats/edit/{id:int}"

@inject AchatsService AchatsService
@inject BusinessLayer BusinessLayer

@using PontBascule.Data
@using PontBascule.Model.Models

<h3>Edit</h3>

<p>@id</p>

@code {
    [Parameter]
    public int id { get; set; }

    private Achat achat { get; set; }
    public int Poids { get; set; }

    protected override async Task OnInitializedAsync()
    {


        achat = await AchatsService.GetAchatById(id);
    }



    private async Task AddAchat()
    {
    //  await _bookService.AddBookAsync(achat);
        achat.NumBonA = AchatsService.GenerateId();
        achat.HeureOP = new TimeSpan(DateTime.Today.Hour, DateTime.Today.Minute, DateTime.Today.Second);
    //  achat.HeureOP = new TimeSpan(ts.Hour, ts.Minute, ts.Second);
        achat.TypeCamion = "a benne";
        achat.TypeTransport = "Tosyali";
        achat.ParcId = 1;
        achat.PCC = Poids;
        achat.PB = 0;
        achat.PCV = 0;
        achat.PQRa = 0;
        achat.PQS = 0;
        achat.Termine = false;
        achat.Observation = "";
        await   AchatsService.CreateAchat(achat);
        NavigationManager.NavigateTo("/achats/index");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/achats/index");
    }


    private void Peser()
    {
        Poids = BusinessLayer.Peser();
    }
}
